*

!.gitignore

!README.md
!LICENSE.md

!.vscode
!.vscode/*

!options
!options/*
!options/*/*

options/trusted-paths.xml
options/actionSummary.xml
options/contributorSummary.xml
options/features.usage.statistics.xml
options/github.xml
options/gitlab.xml
options/jdk.table.xml
options/nodejs.xml
options/other.xml
options/recentProjects.xml
options/updates.xml
options/window.state.xml

!bundled_plugins.txt

!early-access-registry.txt

!pycharm64.exe.vmoptions
